
<%= form_for(@season) do |f| %>
	<%= f.label :name%>
	<%= f.text_field :name %><br />

	<%= f.label :seasonbegin%>
	<%= f.datetime_select :seasonbegin, :order=>[:day,:month,:year] %><br />

	<%= f.label :seasonend%>
	<%= f.datetime_select :seasonend, :order=>[:day,:month,:year] %><br />

	<%= f.fields_for :games do |game| %>
  	<p>
  		<%= game.label :localteam_id %>
		<%= game.select :localteam_id,Team.all.map{|p| [p.name,p.id]} %>	
		<br>		
	    <%= game.label :visintgteam_id %>
		<%= game.select :visitingteam_id,Team.all.map{|p| [p.name,p.id]} %>
		<br>
		
		<%= game.label :game_at %>
		<%= game.datetime_select :game_at,:order=>[:day,:month,:year] %>
		<br>
  	</p>
  	<% end %>

	<%= f.submit "Create Season" %>
<% end %>