<%= form_for(@season) do |f| %>
	<%= f.label :name%>
	

	<%= f.label :seasonbegin%>
	

	<%= f.label :seasonend%>
	

	<%= f.fields_for :games do |game| %>
  	<p>
	    <%= game.label @ %>
		<%= game.select :visitingteam_id,Team.all.map{|p| [p.name,p.id]} %>
		<br>
		<%= game.label :localteam_id %>
		<%= game.select :localteam_id,Team.all.map{|p| [p.name,p.id]} %>	
		<br>		
		<%= game.label :game_at %>
		<%= game.datetime_select :game_at,:order=>[:day,:month,:year] %>
		<br>
  	</p>
  	<% end %>

	<%= f.submit "Create Season" %>
<% end %>