{% extends "::base.html.twig" %}

  
    {% block title %}Arcana by HTML5 UP{% endblock %}
    
  {% block body %}
    

    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            
            
            <section class="6u 12u(narrower)">
              <h3>Bienvenido</h3>
                {% if error %}
                  <div>{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('user_login_check') }}" method="post">
          
                  <div class="row 50%">
                    <div class="6u 12u(mobilep)">
                      <label for="username">Usuario:</label>
                      <input type="text" id="username" name="_username"
                        value="{{ last_username }}" />
                    </div>  
                  </div>

                  <div class="row 50%">
                    <div class="6u 12u(mobilep)">
                      <label for="password">Contraseña:</label>
                      <input type="password" id="password" name="_password" />
                    </div>  
                  </div>

                  <div class="row 50%"> 
                    <div class="6u 12u(mobilep)">
                      <label for="no_cerrar">No cerrar sesión
                      <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
                      </label>
                    </div>
                  </div> 

                  <div>
                    <input type="submit" name="login" value="Acceder" />
                  </div>
                </form>
            </section>
          </div>
        </div>

        

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Todos los derechos reservados</li><li>Design: <a href="http://www.aldey.com.mx">Aldey, Inc.</a></li>
            </ul>
          </div>

      </div>
  {% endblock %}
  {% block javascripts %}

  <!--[if lte IE 8]><script src="{{asset('css/ie/html5shiv.js')}}"></script><![endif]-->
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jquery.dropotron.min.js')}}"></script>
    <script src="{{asset('js/skel.min.js')}}"></script>
    <script src="{{asset('js/skel-layers.min.js')}}"></script>
    <script src="{{asset('js/init.js')}}"></script>
  
      <link rel="stylesheet" href="{{asset('css/skel.css')}}" />
      <link rel="stylesheet" href="{{asset('css/style.css')}}" />
      <link rel="stylesheet" href="{{asset('css/style-wide.css')}}" />
    
    <!--[if lte IE 8]><link rel="stylesheet" href="{{asset('css/ie/v8.css')}}" /><![endif]-->


  {% endblock %}


     
  
  
